<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bem Vindo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bem Vindo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="width: 90%; height: 80%; margin: auto; margin-top: 60px; padding: 5%; text-align: justify;"> 
    <ion-content>
      <ion-img src="assets/imghome.jpg" alt="Preparação de Enxoval" style="float: right; margin: 10px;"></ion-img>
  
      <p style="margin: 10px;">Seja bem vindo ao nosso aplicativo, estamos aqui para te ajudar na organização 
      da chegada do seu novo bebê. Nosso objetivo é facilitar a escolha e busca 
      de itens essenciais, para que você se prepare de forma tranquila e aproveite ao máximo
      todos os momentos com seu filho.</p>   
      <p style="margin: 10px;">Na nossa <a [routerLink]="['/enxoval']">Lista do Enxoval</a> você encontra uma referência para 
      se basear nas quantidades e itens que seu bebê irá precisar nos primeiros dias de vida.
      Ela também irá te ajudar a organizar suas compras, por ser uma chek list, assim
      você não precisará se preocupar com itens em excesso ou esquecer algum item importante.</p>
      <p style="margin: 10px;">Você também poderá verificar os endereços e contatos das várias lojas de artigos 
      infantis presentes na sua cidade. Na nossa página <a [routerLink]="['/lojas']">Onde Comprar</a> 
      é possível vizualizar diretamente no mapa qual a loja mais perto de você.</p>  
      </ion-content>  
  </ion-card>
</ion-content>